@import "tailwindcss";

/* :root {
  --bg-white: "#ffffff";
  --text-black: #000000;
  --text-white: #ffffff;

  --text-gray-500: #6b7280;
  --text-gray-600: #4b5563;
  --text-gray-700: #374151;

  --text-blue-600: #2563eb;

  --text-red-500: #ef4444;
  --text-red-600: #dc2626;

  --text-orange-500: #f97316;

  --text-green-600: #16a34a;
  --text-green-700: #15803d;

  --text-yellow-700: #a16207;
}

.dark {
  --bg-white: "#000000";
  --text-black: #ffffff; 
  --text-white: #000000;

  --text-gray-500: #9ca3af;
  --text-gray-600: #6b7280;
  --text-gray-700: #4b5563;

  --text-blue-600: #3b82f6;

  --text-red-500: #f87171;
  --text-red-600: #ef4444;

  --text-orange-500: #fb923c;

  --text-green-600: #22c55e;
  --text-green-700: #16a34a;

  --text-yellow-700: #fbbf24;
} */

:root {

  --text-default: #1f2937;
  --text-gray-800: #1f2937;

  --bg: #ffffff;
  --bg-surface: #f9fafb;

  --bg-blue-soft: #eff6ff;

  --grad-blue-from: #F1FAFF;
  --grad-blue-to:   #E2F4FF;

  --grad-emerald-from: #ECFDF5;
  --grad-emerald-to:   #D1FAE5;

  --grad-softblue-from: #F0F7FF;
  --grad-softblue-to:   #DCEBFF;

  --grad-indigo-from: #EEF2FF;
  --grad-indigo-to:   #E0E7FF;

  --grad-rose-from: #FFF4F4;
  --grad-rose-to:   #FFEAEA;
}

.dark {

  --text-default: #e5e7eb;
  --text-gray-800: #374151;

  --bg: #0d1117;
  --bg-surface: #0f172a;

  --bg-blue-soft: #1e3a8a;

  --grad-blue-from: #0c1b33;
  --grad-blue-to:   #1e3a5f;

  --grad-emerald-from: #064e3b;
  --grad-emerald-to:   #065f46;

  --grad-softblue-from: #1e2a47;
  --grad-softblue-to:   #2e3a67;

  --grad-indigo-from: #1e1b4b;
  --grad-indigo-to:   #312e81;

  --grad-rose-from: #4c0519;
  --grad-rose-to:   #881337;
}

/* span, div, p {
  color: var(--text-default) !important;
} */
